@page "/testzone"

@using CinemaGo.DataModels.CustomModels;


@using CinemaGo.Web.Services;
@inject IUserPanelService userPanelService;
@inject ProtectedSessionStorage sessionStorage;
@inject NavigationManager navManager;

<style>
    .cinema-seats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seat-row {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .seat {
        margin: 2px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #f0f0f0;
        cursor: pointer;
    }

    .selected {
        background-color: #a0e0a0;
    }

    .screen {
        background-color: #000000;
        height: 120px;
        width: 100%;
        margin: 15px 0;
        transform: rotateX(-48deg);
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    }

    h3 {
        color: #fff;
    }
</style>


<div class="screen">
    <br />
    <h3 class="text-center">! SCREEN !</h3>
</div>


<h1>@selectedSeatText</h1>
<div class="cinema-seats">
    @for (int row = 1; row <= 6; row++)
    {
<div class="seat-row">
    @for (int seat = 1; seat <= 22; seat++)
    {
        if (seat == 6)
        {
<h1>&nbsp&nbsp&nbsp</h1> }
                    if (seat == 16)
                    {
<h1>&nbsp&nbsp&nbsp</h1> }
                    int currentRow = row;
                    int currentSeat = seat;
<button class="@(IsSeatSelected(currentRow, currentSeat) ? "selected" : "seat")"
        @onclick="() => SelectSeat(currentRow, currentSeat)">
    @if (currentRow == 1)
    {
<h5>@currentSeat A</h5> }
                    else if (currentRow == 2)
                    {
<h5>@currentSeat B</h5> }
                    else if (currentRow == 3)
                    {
<h5>@currentSeat C</h5> }
                    else if (currentRow == 4)
                    {
<h5>@currentSeat D</h5> }
                    else if (currentRow == 5)
                    {
<h5>@currentSeat E</h5> }
                    else
                    {
<h5>@currentSeat F</h5>                    }

</button>}
</div>}
</div>


@code {
    private string selectedSeatText = "Select a seat";
    private (int row, int seat)? selectedSeat;

    void SelectSeat(int row, int seat)
    {
        selectedSeat = (row, seat);
        selectedSeatText = $"Selected Row {row}, Seat {seat}";
    }

    private bool IsSeatSelected(int row, int seat)
    {
        return selectedSeat.HasValue && selectedSeat.Value.row == row && selectedSeat.Value.seat == seat;
    }
}
